services:
  frontend:
    depends_on:
      - backend
    build: ./frontend
    ports:
      - 5173:5173
    restart: unless-stopped
  backend:
    depends_on:
      - db
    build: ./backend
    ports:
      - 8080:8080
    restart: unless-stopped
  db:
    image: "mysql:9.2"
    env_file: "./database/.env"
    ports:
      - "3311:3306"
    volumes:
      - commercedb:/data/db
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
volumes:
  commercedb:
